---
layout: sezionelocale
title: Milano
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Milano</h1>
        <p>La Sezione Locale di Milano nasce in primis dagli studenti dell'Università Bicocca, che - anche in virtù del Linux Day - hanno aggregato diverse realtà (anche professionali) attive nel capoluogo meneghino e dintorni.</p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Gruppo Telegram</strong>: <a href="https://t.me/unixmib" rel="nofollow">@unixmib</a>
                    </p>
                    <p>
                        <strong>Referente</strong>: kowalski7cc@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
