---
layout: sezionelocale
title: Novate Milanese
---

<p>
</p>



<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Novate Milanese</h1>
        <p>
    Instaurata formalmente a febbraio 2020, benché di fatto operativa dal 2018, la sezione locale ILS di Novate Milanese nasce dall'iniziativa del gruppo WLOG ed ha sede presso la biblioteca cittadina.</p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>: romano.fabio@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
